node_modules/
dist/
cache/
artifacts/
typechain-types/
.next/
out/
.env
.env.local
.env.production
backend/.env.production
frontend/.env.production
coverage/
coverage.json
*.log
deployments/deployment-addresses-mainnet.json
